main {
  margin: auto;
  padding: 10px;
  box-shadow: 0px 0px 30px #ddd;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
}

nav {
  display: flex;
  font-size: 1.3em;
  justify-content: space-between;
  border-bottom: 1px solid rgb(240, 240, 240);
  margin-bottom: 20px;

  a {
    margin: 5px;
  }
}

.download {
  width: 80%;
  margin: 20px auto;
  display: flex;

  input {
    outline: none;
    background-color: rgb(224, 224, 224);
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    box-sizing: border-box;
    width: 80%;
    font-size: 1.2em;
  }

  input:valid {
    border: 2px solid #00ff00;
  }

  input:invalid {
    border: 2px solid #f00;
  }

  button {
    width: 20%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fc8f01;
    color: white;
  }
}

#download-links {
  margin: 30px auto;
}

#link-loading {
  width: 100%;
  margin: 30px auto;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-duration: 1s;
  color: white;
  padding: 5px;
  font-weight: 600;
  border-radius: 10px;
  user-select: none;
  display: none;
}

@keyframes loading {
  0% {
    background: linear-gradient(to left, white, #fc8f01);
  }

  50% {
    background: linear-gradient(to left, white, #fc8f01, #fc8f01);
  }

  100% {
    background: linear-gradient(to left, #fc8f01, white);
  }
}

.image-full {
  width: 100%;
}

footer {
  text-align: center;
  margin-top: 10vh;
  background-color: #eeea;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 1vh;
  padding: 10px;
}
