{% extends 'base_template.html' %}

{% block body %}

<h2 class="text text-center">Personal Youtube Video Download</h2>
<form action="{% url 'website:get_video_links' %}" method="post" class="text text-center">
    {% csrf_token %}
    <div class="download">
        <input type="search" onchange="submitForm()" name="url"
            placeholder="https://www.youtube.com/watch?v=SKcv6GSm2dw" required
            title="Enter a youtube url.">
        <button type="submit" id="get_link">get links</button>
    </div>

    <p>By using our service, you agree to our <a href="">Terms of Service</a> and <a href="">Privacy Policies</a></p>

    <div>
        <a href="">How to download?</a>
    </div>
    <hr>
    <div id="link-loading">Generating download links ...</div>
    <div id="download-links">
    </div>
</form>
{% endblock %}